{% extends "base.html" %}

{% block title %}
Octoprobe - testbed_micropython
{% endblock %}

{% block content %}
<style>
  input {
    width: 100%;
    border-color: lightgray;
    border-width: 1px;
  }

  td {
    padding-top: 4px;
    padding-bottom: 4px;
  }
</style>

<h1>Start Job</h1>

<div style="border: 1px solid lightblue; background-color: #f0f8ff; padding: 10px; margin-bottom: 20px;">
  <strong>Syntax for 'Tests' and 'Firmware':</strong><br />
  https://github.com/micropython/micropython.git@1.25.0 <strong>Checkout 'v1.25.0' (might be
    branch/hash/tag).</strong><br />
  https://github.com/micropython/micropython.git~17468 <strong>Checkout PR '17468'. Valid PR numbers may be found <a
      href="https://github.com/micropython/micropython/pulls" target="_blank">here</a>.</strong><br />
  https://github.com/micropython/micropython.git~17468@v1.25.0 <strong>Checkout PR '17468' and try to rebase on
    'v1.25.0'.</strong><br />

  <br /><br />
  Github url's might be used too:
  <br />
  https://github.com/micropython/micropython/pull/17468/commits
  <br />
  https://github.com/micropython/micropython/commits/v1.25.0
  <br />
  https://github.com/micropython/micropython/commit/f498a16c7db6d4b2de200b3e0856528dfe0613c3#diff-69528cf7a1b680885089529ad7dd75caa165373a79f9d44cf32663215baebabf
  <br />
  https://github.com/micropython/micropython/tree/docs/library/bluetooth
</div>

<form method="post" action="/jobs/start">
  <table style="width: auto;">
    <tbody>
      <tr>
        <td><label for="username">User name</label></td>
        <td><input type="text" id="username" name="username" value="{{ form_startjob.username }}" required>
          <br />
          Github user which will receive the testresults by email.
        </td>
      </tr>
      <tr>
        <td><label for="arguments">Arguments</label></td>
        <td>
          <input type="text" id="arguments" name="arguments" value="{{ form_startjob.arguments }}">
          <br />

          <select id="combo_arguments" name="combo_arguments" style="font-size: x-small; width: 100%;"
            onchange="document.getElementById('arguments').value = this.value;">
            {%- for argument in form_startjob.arguments_prefilled() %}
            <option value="{{ argument }}">{{ argument }}</option>
            {% endfor %}
          </select>
          <br />
          Optional commandline arguments for <i>mptest</i>.
        </td>
      </tr>
      <tr>
        <td><label for="repo_tests">Tests</label></td>
        <td><input type="text" id="repo_tests" name="repo_tests" required, value="{{ form_startjob.repo_tests }}"><br />
          The repo/branch for the testcode. For example <i>https://github.com/micropython/micropython.git@master
        </td>
      </tr>
      <tr>
        <td><label for="repo_firmware">Firmware</label></td>
        <td><input type="text" id="repo_firmware" name="repo_firmware" value="{{ form_startjob.repo_firmware }}">
          <br />
          The repo/branch to build the firmware. For example
          <i>https://github.com/micropython/micropython.git@master</i>.
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <button type="submit" name="action" value="validate"
      onclick="this.innerHTML='VALIDATE ⏳'; this.style.cursor='wait';">
      VALIDATE
    </button>
    <button type="submit" name="action" value="start" {{ form_rc.button_start_disabled }}
      onclick="this.innerHTML='START ⏳'; this.style.cursor='wait';">
      START
    </button>
  </p>

  {%- if form_rc.msg_ok %}
  <h2 style="color: green;">{{ form_rc.msg_ok }}</h2>
  {%- endif %}
  {%- if form_rc.msg_error %}
  <h2 style="color: red;">{{ form_rc.msg_error }}</h2>
  {%- endif %}

</form>

{%- if form_rc.stdout %}
<div style="border: 1px solid green; background-color: rgb(228, 255, 228); padding: 10px; margin-bottom: 20px;">
  {{ form_rc.stdout | safe }}
</div>
{%- endif %}

{%- if form_rc.stderr %}
<div style="border: 1px solid red; background-color: rgb(248, 188, 165); padding: 10px; margin-bottom: 20px;">
  <pre style="font-size: small;">{{ form_rc.stdout | safe }}</pre>
</div>

<pre style="font-size: small; color: red;">{{ form_rc.stdout | safe }}</pre>
{%- endif %}

{%- endblock %}