{% extends "base.html" %}

{% block title %}
Octoprobe - testbed_micropython
{% endblock %}

{% block content %}
<style>
  input {
    width: 100%;
    border-color: lightgray;
    border-width: 1px;
  }
</style>

<h1>mptest jobs</h1>

<p><a href="/jobs/index">Reload this page ...takes a few seconds...</a></p>

<div style="border: 1px solid lightblue; background-color: #f0f8ff; padding: 10px; margin-bottom: 20px;">
  <strong>Syntax for 'Tests' and 'Firmware':</strong><br/>
  https://github.com/micropython/micropython.git@1.25.0 <strong>Checkout 'v1.25.0' (might be branch/hash/tag).</strong><br/>
  https://github.com/micropython/micropython.git~17232 <strong>Checkout PR '17232'. Valid PR numbers may be found <a href="https://github.com/micropython/micropython/pulls" target="_blank">here</a>.</strong><br/>
  https://github.com/micropython/micropython.git~17232@v1.25.0 <strong>Checkout PR '17232' and try to rebase on 'v1.25.0'.</strong><br/>
</div>

<form method="post" action="/jobs/index">
  <table>
    <tbody>
      <tr>
        <td><label for="username">User name</label></td>
        <td><input type="text" id="username" name="username" value="{{ Default.USER }}" required></td>
      </tr>
      <tr>
        <td></td>
        <td>Valid github user which will receive the testresults by email.</td>
      </tr>
      <tr>
        <td><label for="arguments">Arguments</label></td>
        <td><input type="text" id="arguments" name="arguments" , value="{{ Default.ARGUMENTS }}">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Optional commandline arguments for <i>mptest</i>.</td>
      </tr>
      <tr>
        <td><label for="repo_tests">Tests</label></td>
        <td><input type="text" id="repo_tests" name="repo_tests" required, value="{{ Default.REPO_TESTS }}"></td>
      </tr>
      <tr>
        <td></td>
        <td>The repo/branch for the testcode. For example <i>https://github.com/micropython/micropython.git@master</i>.
        </td>
      </tr>
      <tr>
        <td><label for="repo_firmware">Firmware</label></td>
        <td><input type="text" id="repo_firmware" name="repo_firmware" value="{{ Default.REPO_FIRMWARE }}"></td>
      </tr>
      <tr>
        <td></td>
        <td>The repo/branch to build the firmware. For example <i>https://github.com/micropython/micropython.git@master</i>.
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
            <button type="submit" name="action" value="start" 
                onclick="this.innerHTML='START ⏳'; this.style.cursor='wait';">START</button>
          {%- if form_rc.msg_ok %}
          <span style="color: green;">{{ form_rc.msg_ok }}</span>
          {%- endif %}
          {%- if form_rc.msg_error %}
          <span style="color: red;">{{ form_rc.msg_error }}</span>
          {%- endif %}
        </td>
      </tr>
    </tbody>
  </table>
</form>

<hr/>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Status</th>
      <th>Conclusion</th>
      <th>URL</th>
      <th>Results</th>
      <th>Started At</th>
    </tr>
  </thead>
  <tbody>
    {%- for job in gh_jobs %}
    <tr>
      <td>{{ job.number }}</td>
      <td>{{ job.status }}</td>
      <td>{{ job.conclusion }}</td>
      <td>
        <a href="{{ job.url }}" target="_blank">job</a>
        {%- if job.conclusion %}
        <a href="/github_testbed_micropython_{{ job.number }}" target="_blank">results</a>
        {%- endif %}
      </td>
      <td>{{ job.createdAt }}</td>
      <td>{{ job.startedAt }}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- endblock %}